@media (min-width: 540px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}

.test {
  width: 100%;
  height: 500px;
  background-color: #070826;
  -webkit-box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
          box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
}

* {
  outline: none;
}

h1 {
  font-size: 45px;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?aab9it");
  src: url("../fonts/icomoon.eot?aab9it#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?aab9it") format("truetype"), url("../fonts/icomoon.woff?aab9it") format("woff"), url("../fonts/icomoon.svg?aab9it#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e916";
}

.icon-phone:before {
  content: "\e917";
}

.icon-facebook:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-googleplay:before {
  content: "\e915";
  color: #607d8b;
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-gas-station:before {
  content: "\e913";
}

.icon-location:before {
  content: "\e914";
}

.icon-left:before {
  content: "\e900";
}

.icon-right:before {
  content: "\e901";
}

.icon-car:before {
  content: "\e902";
}

.icon-city:before {
  content: "\e903";
}

.icon-cloud-moon:before {
  content: "\e904";
}

.icon-cocktail:before {
  content: "\e905";
}

.icon-coffee:before {
  content: "\e906";
}

.icon-comment:before {
  content: "\e907";
}

.icon-diamond:before {
  content: "\e908";
}

.icon-crown:before {
  content: "\e909";
}

.icon-dice-five:before {
  content: "\e90a";
}

.icon-ball:before {
  content: "\e90b";
}

.icon-gem:before {
  content: "\e90c";
}

.icon-martini:before {
  content: "\e90d";
}

.icon-heart:before {
  content: "\e90e";
}

.icon-hospital:before {
  content: "\e90f";
}

.icon-image:before {
  content: "\e910";
}

.icon-user-circle:before {
  content: "\e911";
}

.icon-wine:before {
  content: "\e912";
}

.flipcard {
  width: 90%;
  height: 50%;
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-animation: appear6 3s ease .3s;
          animation: appear6 3s ease .3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.flipcard__side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
  -webkit-box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.flipcard__side_front {
  background: url(../img/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flipcard__side_back {
  background: url(../img/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipcard:hover .flipcard__side_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flipcard:hover .flipcard__side_back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes fadeRight {
  from {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(0deg);
            transform: translatey(-50%) translateX(0px) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(0deg);
            transform: translatey(-50%) translateX(0px) rotate(0deg);
    opacity: 1;
  }
  50% {
    color: #a61c1c;
  }
  to {
    -webkit-transform: translatey(-50%) translateX(-10px);
            transform: translatey(-50%) translateX(-10px);
    opacity: 0;
    color: #a61c1c;
  }
}

@keyframes fadeRight {
  from {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(0deg);
            transform: translatey(-50%) translateX(0px) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(0deg);
            transform: translatey(-50%) translateX(0px) rotate(0deg);
    opacity: 1;
  }
  50% {
    color: #a61c1c;
  }
  to {
    -webkit-transform: translatey(-50%) translateX(-10px);
            transform: translatey(-50%) translateX(-10px);
    opacity: 0;
    color: #a61c1c;
  }
}

@-webkit-keyframes fadeleft {
  from {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(180deg);
            transform: translatey(-50%) translateX(0px) rotate(180deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(180deg);
            transform: translatey(-50%) translateX(0px) rotate(180deg);
    opacity: 1;
  }
  50% {
    color: #a61c1c;
  }
  to {
    -webkit-transform: translatey(-50%) translateX(10px) rotate(180deg);
            transform: translatey(-50%) translateX(10px) rotate(180deg);
    opacity: 1;
    color: #a61c1c;
  }
}

@keyframes fadeleft {
  from {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(180deg);
            transform: translatey(-50%) translateX(0px) rotate(180deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: translatey(-50%) translateX(0px) rotate(180deg);
            transform: translatey(-50%) translateX(0px) rotate(180deg);
    opacity: 1;
  }
  50% {
    color: #a61c1c;
  }
  to {
    -webkit-transform: translatey(-50%) translateX(10px) rotate(180deg);
            transform: translatey(-50%) translateX(10px) rotate(180deg);
    opacity: 1;
    color: #a61c1c;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes appear2 {
  from {
    opacity: 0;
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear2 {
  from {
    opacity: 0;
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes appear3 {
  from {
    opacity: 0;
    -webkit-transform: translatey(125px);
            transform: translatey(125px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes appear3 {
  from {
    opacity: 0;
    -webkit-transform: translatey(125px);
            transform: translatey(125px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes appear4 {
  from {
    opacity: 0;
    -webkit-transform: translatey(-125px);
            transform: translatey(-125px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes appear4 {
  from {
    opacity: 0;
    -webkit-transform: translatey(-125px);
            transform: translatey(-125px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes appear5 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes appear5 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@-webkit-keyframes appear6 {
  from {
    opacity: 0;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes appear6 {
  from {
    opacity: 0;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  25% {
    opacity: .4;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes letterSpacing {
  from {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 5px;
  }
  to {
    letter-spacing: 3px;
  }
}

@keyframes letterSpacing {
  from {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 5px;
  }
  to {
    letter-spacing: 3px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
}

.header_logo {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: 0px 0px 0px 50px;
}

.header_logo img {
  width: 100%;
  height: 100%;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0px 50px 0px 0px;
  position: relative;
}

.menu {
  overflow: auto;
  z-index: 100;
}

@media (max-width: 768px) {
  .menu {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #070826;
    position: fixed;
    top: -200%;
    left: 0;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
}

.menu_active {
  top: 0;
  z-index: 100;
}

.menu_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media (max-width: 768px) {
  .menu_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu_list .menu_item .menu_item-link {
    font-size: 25px;
    display: block;
    border: none;
    margin: 45px;
  }
}

.menu_list_active {
  top: 0;
}

.menu_item {
  margin: 0px 15px 0px 0px;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  padding: 2px 5px 0px;
  border-bottom: 1px solid #a61c1c;
  z-index: 3;
  background-color: transparent;
  border-radius: 0;
}

.menu_item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #a61c1c;
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: -1;
}

@media (min-width: 992px) {
  .menu_item:hover.menu_item::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.menu_item a {
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.dropdown-menu {
  background-color: #070826;
  z-index: 555;
  overflow: hidden;
}

@media (max-width: 768px) {
  .dropdown-menu {
    font-size: 20px;
    margin: 15px 0px 0px 0px;
  }
}

.dropdown-menu li .dropdown-item {
  background-color: #070826;
  text-align: center;
}

@media (max-width: 768px) {
  .dropdown-menu li .dropdown-item {
    font-size: 20px;
    margin: 0px 0px 15px 0px;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 18px;
    z-index: 250;
  }
  .hamburger span {
    display: block;
    height: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger span:nth-child(1) {
    width: 100%;
    margin: 0 0 4px auto;
    background-color: #fff;
  }
  .hamburger span:nth-child(2) {
    width: 100%;
    margin: 0 0 4px auto;
    background-color: #fff;
  }
  .hamburger span:nth-child(3) {
    width: 100%;
    margin: 0 0 4px auto;
    background-color: #fff;
  }
  .hamburger_active span {
    border: none;
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
    background-color: #fff;
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-4px) rotate(45deg);
            transform: translateY(-4px) rotate(45deg);
    background-color: #fff;
  }
}

.promo {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  padding: 70px 0px 0px 0px;
  position: relative;
  background-color: #070826;
  -webkit-box-shadow: -5px 10px 10px rgba(2, 1, 1, 0.156);
          box-shadow: -5px 10px 10px rgba(2, 1, 1, 0.156);
  overflow: hidden;
}

.promo_wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 1, 1, 0.061);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__left {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4 1 0px;
          flex: 1.4 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  -webkit-animation: appear 1s ease 0.3s;
          animation: appear 1s ease 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__left--top {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3 1 0px;
          flex: 1.3 1 0;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__left--bot {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__left:hover {
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6 1 0px;
          flex: 1.6 1 0;
}

.promo__left-container:hover {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1 0px;
          flex: 1.5 1 0;
}

.promo__left-container:hover .promo__left-container:not(:hover) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.promo__part-left--top {
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
}

.promo__part-left--top:hover {
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6 1 0px;
          flex: 1.6 1 0;
}

.promo__part-left--top:hover .promo__part-left--top:not(:hover) {
  -webkit-box-flex: 1.7;
      -ms-flex: 1.7 1 0px;
          flex: 1.7 1 0;
}

.promo__part-left--bot {
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.promo__part-left--bot:hover {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3 1 0px;
          flex: 1.3 1 0;
}

.promo__part-left--bot:hover .promo__part-left--bot:not(:hover) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.promo__part-left-1 {
  background: #fff;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1 0px;
          flex: 1.5 1 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 576px) {
  .promo__part-left-1 {
    display: none;
  }
}

.promo__part-left-2 {
  background: url(../img/9.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-animation: appear4 1s ease 0.6s;
          animation: appear4 1s ease 0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__part-left-3 {
  background: #828282;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px;
  position: relative;
  -webkit-animation: appear5 0.8s ease 0.6s;
          animation: appear5 0.8s ease 0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 576px) {
  .promo__part-left-3 {
    display: none;
  }
}

.promo__part-left-3:hover .promo__text {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  text-shadow: 3px 5px 10px rgba(2, 1, 1, 0.9);
}

.promo__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.promo__part-left-4 {
  background: url(../img/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-animation: appear 0.7s ease 0.8s;
          animation: appear 0.7s ease 0.8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__part-left-5 {
  background: #a6806b;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: appear5 0.7s ease 0.8s;
          animation: appear5 0.7s ease 0.8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  -webkit-animation: appear3 1s ease 0.1s;
          animation: appear3 1s ease 0.1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 992px) {
  .promo__right {
    display: none;
  }
}

.promo__right--top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__right--bot {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1 0px;
          flex: 1.5 1 0;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__right:hover {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1 0px;
          flex: 1.5 1 0;
}

.promo__right-container:hover {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1 0px;
          flex: 1.5 1 0;
}

.promo__right-container:hover .promo__right-container:not(:hover) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.promo__part-right--top {
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.promo__part-right--top:hover {
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6 1 0px;
          flex: 1.6 1 0;
}

.promo__part-right--top:hover .promo__part-right--top:not(:hover) {
  -webkit-box-flex: 1.7;
      -ms-flex: 1.7 1 0px;
          flex: 1.7 1 0;
}

.promo__part-right--bot {
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.promo__part-right--bot:hover {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3 1 0px;
          flex: 1.3 1 0;
}

.promo__part-right--bot:hover .promo__part-right--bot:not(:hover) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.promo__part-right-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background: url(../img/4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: appear5 1.7s ease 0.9s;
          animation: appear5 1.7s ease 0.9s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__part-right-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background: url(../img/8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: appear 1.7s ease 0.9s;
          animation: appear 1.7s ease 0.9s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__part-right-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background: url(../img/5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: appear4 0.8s ease 0.1s;
          animation: appear4 0.8s ease 0.1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.promo__part-right-4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background: #a61c1c;
}

.promo__content {
  height: 500px;
  width: 400px;
  background-color: rgba(7, 8, 38, 0.3);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%) translateX(0);
          transform: translateY(-40%) translateX(0);
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.49, 0.92);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.49, 0.92);
  -webkit-animation: appear2 0.3s ease 1.3s;
          animation: appear2 0.3s ease 1.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-box-shadow: -5px 10px 10px rgba(2, 1, 1, 0.551);
          box-shadow: -5px 10px 10px rgba(2, 1, 1, 0.551);
  -webkit-backdrop-filter: grayscale(80%) blur(2px);
          backdrop-filter: grayscale(80%) blur(2px);
}

@media (max-width: 992px) {
  .promo__content {
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-40%) translateX(50%);
            transform: translateY(-40%) translateX(50%);
    right: 50%;
  }
}

.promo__content_active {
  width: 800px;
  -webkit-transform: translateY(-40%) translateX(50%);
          transform: translateY(-40%) translateX(50%);
  right: 50%;
}

@media (max-width: 992px) {
  .promo__content_active {
    width: 100%;
    height: auto;
  }
}

.pr-content {
  padding: 40px 40px 40px 20px;
}

@media (max-width: 768px) {
  .pr-content {
    padding: 5px;
  }
}

.pr-content__more {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%) translateX(0px) rotate(0deg);
          transform: translatey(-50%) translateX(0px) rotate(0deg);
  left: -38px;
  color: #070826;
  font-size: 32px;
  color: #070826;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fadeRight 3s cubic-bezier(0.86, 0, 0.49, 0.92) infinite;
          animation: fadeRight 3s cubic-bezier(0.86, 0, 0.49, 0.92) infinite;
}

.pr-content__more_active {
  -webkit-animation: fadeleft 3s cubic-bezier(0.86, 0, 0.49, 0.92) infinite;
          animation: fadeleft 3s cubic-bezier(0.86, 0, 0.49, 0.92) infinite;
}

.pr-content__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  -webkit-animation: fadeRight 1s ease 0 infinite;
          animation: fadeRight 1s ease 0 infinite;
  max-width: 70px;
  border: none;
  outline: none;
  background: url(../ico/search.png), #fff;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  border: 2px solid #a61c1c;
  border-left: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.pr-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
  margin: 20px 0px 0px 0px;
  -webkit-animation: appear5 0.6s ease 1.2s;
          animation: appear5 0.6s ease 1.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 768px) {
  .pr-content__form {
    padding: 15px;
  }
}

.pr-content__form::before {
  content: "";
}

.pr-content__input {
  color: #828282;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  padding: 20px 9px;
  border: 2px solid #a61c1c;
  border-left: 5px solid #a61c1c;
  border-right: none;
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 768px) {
  .pr-content__input {
    padding: 20px 5px;
    margin: 0;
  }
}

.pr-content__input:focus {
  border-right: 5px solid #a61c1c;
  margin: 0px 5px 0px 0px;
}

.pr-content__input:focus + div + .pr-content__btn {
  background-color: #1ba58b;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  border-radius: 15px;
  border: 3px solid #a61c1c;
  margin: 0px 0px 0px 5px;
}

.pr-content__input:focus + .input-back {
  background-color: #1ba58b;
  left: -20px;
}

.input-back {
  display: block;
  width: 100%;
  height: 120%;
  position: absolute;
  top: -20px;
  left: 17px;
  background-color: #070826;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 768px) {
  .input-back {
    padding: 20px 5px;
    margin: 0;
    width: 90%;
  }
}

.pr-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pr-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .pr-content__items {
    padding: 0px;
  }
}

.pr-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  min-width: 125px;
  height: 90px;
  background-color: rgba(7, 8, 38, 0.7);
  margin: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: appear3 0.5s ease 1.2s;
          animation: appear3 0.5s ease 1.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 768px) {
  .pr-content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    min-width: 80px;
    height: 60px;
    font-size: 12px;
    margin: 5px;
  }
}

.pr-content__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 25px rgba(147, 147, 147, 0.904);
          box-shadow: 1px 1px 25px rgba(147, 147, 147, 0.904);
}

.pr-content__item-ico {
  font-size: 22px;
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}

.pr-content__item-text {
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: 992px) {
  .pr-content__item.dissapear {
    -webkit-transform: translate(90px, 90px);
            transform: translate(90px, 90px);
    opacity: 0;
  }
}

.today {
  width: 100%;
  min-height: 500px;
  background-color: #df682d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #070826;
  padding: 0px 0px 15px 0px;
}

@media (max-width: 992px) {
  .today {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.today__card-section-wrapper {
  width: 100%;
  height: 100%;
}

.today__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  text-align: center;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc824;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
          box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
}

@media (max-width: 992px) {
  .today__text {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-height: 200px;
  }
}

.today__title {
  font-size: 44px;
  margin: 5px;
}

.today__subtitle {
  font-size: 18px;
}

.today__card-section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.today__card {
  width: 300px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
          box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
  margin: 25px 0px 20px 0px;
  cursor: pointer;
}

.today__card:hover .today__card-text-bot {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.today__card:hover .today__card-text-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 576px) {
  .today__card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.today__card-text-top {
  font-size: 25px;
  color: #fff;
  background-color: rgba(7, 8, 38, 0.7);
  padding: 5px;
  font-weight: 500;
  position: absolute;
  width: 150px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 32px;
  left: -40px;
  z-index: 3;
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  -webkit-box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.551);
          box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.551);
}

@media (max-width: 576px) {
  .today__card-text-top {
    left: 16px;
  }
}

.today__card-text-bot {
  font-size: 25px;
  color: #fff;
  background-color: rgba(7, 8, 38, 0.7);
  padding: 10px 0 5px 0;
  font-weight: 500;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.551);
          box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.551);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  bottom: 37px;
  right: 294px;
  z-index: 3;
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
}

@media (max-width: 576px) {
  .today__card-text-bot {
    right: 41px;
  }
}

.swiper-container {
  width: 576px;
}

@media (max-width: 576px) {
  .swiper-container {
    width: 320px;
  }
}

.swiper-container .swiper-button-prev {
  padding: 200px 50px;
  left: 0;
  top: 0;
  color: #a61c1c;
}

.swiper-container .swiper-button-next {
  padding: 200px 50px;
  right: 0;
  top: 0;
  color: #a61c1c;
}

.trending {
  width: 100%;
  height: 500px;
  background-color: #df682d;
  position: relative;
  padding: 60px 0px 50px 0px;
}

.trending__header {
  text-align: center;
  background-color: #ffc824;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  color: #070826;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
          box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
}

@media (max-width: 768px) {
  .trending__header {
    top: -19px;
    width: 100%;
  }
}

.trending__header h2 {
  font-size: 30px;
}

.trending__item {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
          box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
  position: relative;
}

@media (max-width: 768px) {
  .trending__item {
    width: 100%;
  }
}

.trending__item--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#262627ad), to(#13131380)), url(../img/trending/1.jpg);
  background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/1.jpg);
}

.trending__item--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#262627ad), to(#13131380)), url(../img/trending/2.jpg);
  background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/2.jpg);
}

.trending__item--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#262627ad), to(#13131380)), url(../img/trending/3.jpg);
  background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/3.jpg);
}

.trending__item--4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#262627ad), to(#13131380)), url(../img/trending/4.jpg);
  background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/4.jpg);
}

.trending__item-info {
  margin: 0 auto;
  text-align: center;
  padding: 75px 0px 0px 0px;
  width: 60%;
  position: relative;
  z-index: 3;
  cursor: pointer;
  -webkit-backdrop-filter: grayscale(80%) blur(2px);
          backdrop-filter: grayscale(80%) blur(2px);
  background-color: rgba(7, 8, 38, 0.3);
  height: 100%;
}

@media (max-width: 576px) {
  .trending__item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 75px 0px 15px 0px;
    width: 90%;
  }
}

@media (min-width: 992px) {
  .trending__item-info:hover .trending__item-name::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.trending__item-info:hover .trending__item-icons--bg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: transparent;
}

.trending__item-name {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 500;
  margin: 0px 0px 15px 0px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  z-index: 15;
  -webkit-animation: letterSpacing 15s ease infinite;
          animation: letterSpacing 15s ease infinite;
}

.trending__item-name::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #a61c1c;
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: -1;
}

.trending__item-adress {
  font-size: 22px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.68);
  margin: 0px 0px 15px 0px;
  font-weight: 300;
  padding: 0 20px;
}

.trending__item-adress span {
  font-size: 18px;
  display: block;
}

.trending__item-desc {
  background-color: rgba(7, 8, 38, 0.7);
  padding: 5px;
  width: 320px;
  margin: 0 auto 25px;
}

@media (max-width: 576px) {
  .trending__item-desc {
    display: none;
  }
}

.trending__item-icons {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.trending__item-icons--bg {
  background-color: rgba(7, 8, 38, 0.7);
  padding: 10px;
  width: 65px;
  display: inline-block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.trending__item-icons--1 {
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}

.trending__item-icons--2 {
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}

.trending__item-icons--3 {
  font-weight: 900;
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}

.swiper-container-trending {
  height: 100%;
  overflow: hidden;
}

.button-prev,
.button-next {
  color: #fff;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  width: 45px;
  height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-prev {
  left: 5%;
}

.button-next {
  right: 5%;
}

@media (max-width: 576px) {
  .button-next {
    right: 0%;
  }
}

.section-cards {
  background-image: url(../img/bg-pat2.png);
  background-repeat: repeat;
  background-position: bottom;
  position: relative;
}

.section-cards__header {
  text-align: center;
  background-color: #070826;
  width: 100%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  color: #b3b3b3;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
          box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
}

@media (max-width: 768px) {
  .section-cards__header {
    top: -19px;
  }
}

.section-cards__header h2 {
  font-size: 30px;
}

.section-cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

@media (max-width: 992px) {
  .section-cards__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .section-cards__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-cards__bg {
  background-color: rgba(7, 8, 38, 0.9);
  width: 100%;
  height: 100%;
  padding: 32px 0px 32px 0px;
}

@media (max-width: 576px) {
  .section-cards__bg {
    padding: 100px 0px 0px 0px;
  }
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  background-color: rgba(7, 8, 38, 0.2);
  text-align: center;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
  color: #b3b3b3;
  position: relative;
  padding: 125px 20px 20px 20px;
  border: 1px solid #d3d3d3;
}

@media (max-width: 992px) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 576px) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    margin: 0px 0px 10px 0px;
    padding: 100px 10px 10px 10px;
  }
}

.card__title {
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 80%;
  display: inline-block;
  font-size: 16px;
  border-top: dashed 1px #d3d3d3;
  border-bottom: dashed 1px #d3d3d3;
  white-space: nowrap;
}

.card__text {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card__img {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 65px;
  display: block;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, 0);
          transform: scale(1) translate(-50%, 0);
}

.card:hover {
  -webkit-box-shadow: 2px 10px 20px rgba(90, 90, 90, 0.381);
          box-shadow: 2px 10px 20px rgba(90, 90, 90, 0.381);
  border: dashed 1px #d3d3d3;
  background-color: rgba(7, 8, 38, 0.6);
}

.card:hover .card__img {
  -webkit-transform: scale(1.25) translate(-40%, 0);
          transform: scale(1.25) translate(-40%, 0);
}

.card:hover .card__title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  width: 100%;
}

.card:hover .card__text {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.app {
  width: 100%;
  height: 300px;
  background-color: #2f3640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0px 0px 50px 0px;
}

.app__wrapper {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 500px;
  position: relative;
  cursor: pointer;
  border-left: 1px solid #484040;
  border-right: 1px solid #484040;
}

@media (max-width: 576px) {
  .app__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

.app__card:hover .app__card-side--1 {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.app__card:hover .app__card-side--2 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.app__card-side {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #b3b3b3;
}

.app__card-title {
  display: block;
  font-size: 25px;
}

.app__card-side--1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #2f3640;
}

.app__card-side--2 {
  -webkit-transform: translateY(0) scale(0.9);
          transform: translateY(0) scale(0.9);
  background-color: white;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.app__download {
  display: inline-block;
  font-size: 18px;
  color: #2f3640;
}

.app__download-span {
  display: inline-block;
  margin: 17px 11px 0px 0px;
}

.footer {
  background-color: #2f3640;
  background-repeat: repeat;
  background-position: bottom;
  position: relative;
  color: #b3b3b3;
}

@media (max-width: 576px) {
  .footer {
    text-align: center;
  }
}

.footer li {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer li:hover {
  text-decoration: underline;
  color: blue;
}

.footer__bg {
  background-color: #2f3640;
  width: 100%;
  height: 100%;
  padding: 32px 0px 52px 0px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 0px 0px 0px 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
}

@media (max-width: 576px) {
  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 30px 0px 0px 0px;
    padding: 0;
  }
}

.footer__list-title {
  font-weight: 500;
  font-size: 18px;
}

.footer__list-items {
  margin: 0;
  padding: 0 10px;
}

.footer__list-item {
  margin: 10px 0px 0px 0px;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 0px 0px 0px 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .footer__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    margin: 25px 0px 0px 0px;
  }
}

@media (max-width: 576px) {
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 30px 0px 0px 0px;
    padding: 0;
  }
}

.footer__contacts--write {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  cursor: pointer;
  padding: 0px 0px 0px 25px;
}

@media (max-width: 1200px) {
  .footer__contacts--write {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
}

@media (max-width: 576px) {
  .footer__contacts--write {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 30px 0px 0px 0px;
  }
}

.footer__contacts-title {
  font-weight: 500;
  font-size: 18px;
}

.footer__contacts-list {
  margin: 0;
  padding: 0;
}

.footer__contacts-item {
  margin: 10px 0px 0px 0px;
  padding: 0 10px;
}

.footer__contacts-item span {
  display: inline-block;
  margin: 0px 15px 0px 0px;
  font-size: 25px;
  vertical-align: middle;
}

.copy {
  width: 100%;
  height: 70px;
  background-color: #070826;
  color: #b3b3b3;
  text-align: center;
  line-height: 70px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}

a:visited {
  background-color: transparent;
}

.mobile {
  color: black;
  font-size: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */