@keyframes hue {
   from {
     filter: hue-rotate(0deg);
   }

   to {
     filter: hue-rotate(360deg);
   }
}

@keyframes fadeRight {
   from {
   transform: translatey(-50%) translateX(0px) rotate(0deg);
   opacity: 0;
   }

   25% {
      transform: translatey(-50%) translateX(0px) rotate(0deg);
      opacity: 1;
   }
      50% {
         color: $ac;
      }
   to {
      transform: translatey(-50%) translateX(-10px);
      opacity: 0;
      color: $ac;
   }
}

@keyframes fadeleft {
   from {
   transform: translatey(-50%) translateX(0px) rotate(180deg);
   opacity: 1;
   }

   25% {
      transform: translatey(-50%) translateX(0px) rotate(180deg);
      opacity: 1;
   }
      50% {
         color: $ac;
      }
   to {
      transform: translatey(-50%) translateX(10px) rotate(180deg);
      opacity: 1;
      color: $ac;
   }
}


@keyframes appear {
   from {
   opacity: 0;
   transform: translateX(35px);
   }

   25% {
      opacity: .4;
   }
   
   to {
      opacity: 1;
      transform: translateX(0px);
   }
}

@keyframes appear2 {
   from {
   opacity: 0;
   
   }

   25% {
      opacity: .4;
   }
   
   to {
      opacity: 1;

   }
}

@keyframes appear3 {
   from {
   opacity: 0;
   transform: translatey(125px);
   }

   25% {
      opacity: .4;
   }
   
   to {
      opacity: 1;
      transform: translatey(0px);
   }
}


@keyframes appear4 {
   from {
   opacity: 0;
   transform: translatey(-125px);
   }

   25% {
      opacity: .4;
   }
   
   to {
      opacity: 1;
      transform: translatey(0px);
   }
}

@keyframes appear5 {
   from {
   opacity: 0;
   transform: translateX(-135px);
   }

   25% {
      opacity: .4;
   }
   
   to {
      opacity: 1;
      transform: translatex(0px);
   }
}

@keyframes appear6 {
   from {
   opacity: 0;
   transform: rotate(70deg); 
   }

   25% {
      opacity: .4;
   }
   
   to {
      opacity: 1;
      transform: rotate(0deg);;
   }
}
