@keyframes hue {
   from {
     filter: hue-rotate(0deg);
   }

   to {
     filter: hue-rotate(360deg);
   }
}

@keyframes fadeRight {
   from {
   transform: translatey(-50%) translateX(0px) rotate(0deg);
   opacity: 0;
   }

   25% {
      transform: translatey(-50%) translateX(0px) rotate(0deg);
      opacity: 1;
   }
      50% {
         color: $ac;
      }
   to {
      transform: translatey(-50%) translateX(-10px);
      opacity: 0;
      color: $ac;
   }
}

@keyframes fadeleft {
   from {
   transform: translatey(-50%) translateX(0px) rotate(180deg);
   opacity: 1;
   }

   25% {
      transform: translatey(-50%) translateX(0px) rotate(180deg);
      opacity: 1;
   }
      50% {
         color: $ac;
      }
   to {
      transform: translatey(-50%) translateX(10px) rotate(180deg);
      opacity: 1;
      color: $ac;
   }
}


