.app {
   width: 100%;
   height: 300px;
   background-color: #2f3640;
   display: flex;
   align-items: center;
   position: relative;
   padding: 0px 0px 50px 0px;
   

   &__wrapper {
      width: 100%;
      height: 200px;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
   }

   // .app__card

   &__card {
      flex: 0 0 50%;
      max-width: 500px;
      position: relative;
      cursor: pointer;
      border-left: 1px solid rgb(72, 64, 64);
      border-right: 1px solid rgb(72, 64, 64);
      @media (max-width: $bp4) {
         flex: 0 0 90%;
      }
      
      &:hover {
         .app__card-side--1 {
            transform: translateY(-100px);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            
         }
         .app__card-side--2 {
            transform: translateY(100px);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
         }
      }
   }
   &__card-side {
      transition: 0.5s ease all;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #b3b3b3;
      
   }
   &__card-title {
      display: block;
      font-size: 25px;
      
   }

   // .app__card-side--1

   &__card-side--1 {
      transform: translateY(0);
      height: 200px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      background-color: #2f3640;
   }

   // .app__card-side--2

   &__card-side--2 {
      transform: translateY(0) scale(0.9);
      background-color: rgb(255, 255, 255);
      height: 200px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
   }

   &__download {
      display: inline-block;
      font-size: 18px;
      color: #2f3640;
         
   }

   &__download-span {
      display: inline-block;
      margin: 17px 11px 0px 0px;
   }
}
