
//! Button 

.btn-cust {
   color: #fff;
   cursor: pointer;
   display: block;
   font-size: 16px;
   font-weight: 300;
   line-height: 35px;
   padding: 0 5px;
   position: relative;
   text-decoration: none;
   transition: .3s all linear;
   position: relative;
   z-index: 2;
   
  
}






// ! flipcard

.flipcard {
   width: 90%;
   height: 50%;
   position: relative;
   perspective: 100rem;
   transition: all 3s ease;

   
   // .flipcard__side
   &__side {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all .7s ease-in;
      box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.5);
      // .flipcard__side_front
      &_front {
         background: url(../img/bg1.png);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
      }
      // .flipcard__side_back
      &_back {
         background: url(../img/bg2.png);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         transform: rotateY(180deg);
         
      }
   }

   &:hover {
      .flipcard__side_front {
         transform: rotateY(-180deg);
      }
   }
   &:hover &__side_back {
      transform: rotateY(0);
   }
}