@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aab9it');
  src:  url('../fonts/icomoon.eot?aab9it#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aab9it') format('truetype'),
    url('../fonts/icomoon.woff?aab9it') format('woff'),
    url('../fonts/icomoon.svg?aab9it#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e900";
}
.icon-right:before {
  content: "\e901";
}
.icon-car:before {
  content: "\e902";
}
.icon-city:before {
  content: "\e903";
}
.icon-cloud-moon:before {
  content: "\e904";
}
.icon-cocktail:before {
  content: "\e905";
}
.icon-coffee:before {
  content: "\e906";
}
.icon-comment:before {
  content: "\e907";
}
.icon-diamond:before {
  content: "\e908";
}
.icon-crown:before {
  content: "\e909";
}
.icon-dice-five:before {
  content: "\e90a";
}
.icon-ball:before {
  content: "\e90b";
}
.icon-gem:before {
  content: "\e90c";
}
.icon-martini:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-hospital:before {
  content: "\e90f";
}
.icon-image:before {
  content: "\e910";
}
.icon-user-circle:before {
  content: "\e911";
}
.icon-wine:before {
  content: "\e912";
}
