$trans: all 4s ease;
$trans2: all 2s ease-in;

//! Header menu nav

.header {
   display: flex;
   justify-content: space-between;
   flex: 1 1 0;
   align-items: center;
   position: absolute;
   top: 0;
   height: 70px;
   width: 100%;
   // .header_logo

   &_logo {
      width: 50px;
      height: 50px;
      background-color: #fff;
      margin: 0px 0px 0px 50px;
      & img {
         width: 100%;
         height: 100%;
      }
   }

   // .header__navigation

   &__navigation {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      flex: 1 1 0;
      padding: 0px 50px 0px 0px;
      position: relative;
   }
}

.menu {
   overflow: auto;
   @media (max-width: $bp3) {
      height: 100vh;
      width: 100%;
      margin: 0;
      background-color: $mc;
      position: fixed;
      top: -200%;
      left: 0;
      transition: 0.6s all;
      
   }
   &_active {
      top: 0;
      z-index: 100;
      
   }
   &_list {
      list-style: none;
      display: flex;
      margin: 0;
      @media (max-width: $bp3) {
         flex-direction: column;
         justify-content: space-around;
         .menu_item .menu_item-link {
            font-size: 25px;
            display: block;
            border: none;
            margin: 45px;
            
         }
      }
      &_active {
         top: 0;
      }
   }

   &_item {
      margin: 0px 15px 0px 0px;
      position: relative;
      transition: 0.3s all ease;
      padding: 2px 5px 0px;
      border-bottom: 1px solid $ac;
      z-index: 3;
      
      &::before {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         background-color: $ac;
         position: absolute;
         bottom: 0px;
         left: 0;
         transform: scaleX(0);
         transform-origin: bottom left;
         transition: 0.3s all ease;
         z-index: -1;
      }
      @media (min-width: $bp2) {
      &:hover.menu_item::before {
         transform: scaleX(1);}
      }
      & a {
         font-weight: normal;
         font-size: 15px;
         line-height: 35px;
         text-align: center;
         letter-spacing: 0.2px;
         color: #ffffff;
         background-color: green;
         text-decoration: none;
         transition: all 0.3s ease;
         position: relative;
        
      }
   }
}
.dropdown-menu {
   background-color: $mc;
   z-index: 555;
   overflow: hidden;
  
   @media (max-width: $bp3) {
      font-size: 20px;
      margin: 15px 0px 0px 0px;
   }
}
.dropdown-menu li .dropdown-item {
   background-color: $mc;
   text-align: center;
   @media (max-width: $bp3) {
      font-size: 20px;
      margin: 0px 0px 15px 0px;
   }
}


.hamburger {
   display: none;
   @media (max-width: $bp3) {
      display: block;
      position: fixed;
      top: 25px;
      right: 20px;
      width: 30px;
      height: 18px;
      z-index: 250;
      span {
         display: block;
         height: 2px;

         transition: 0.5s all;
         &:nth-child(1) {
            width: 100%;
            margin: 0 0 4px auto;
            background-color: #fff;
         }
         &:nth-child(2) {
            width: 100%;
            margin: 0 0 4px auto;
            background-color: #fff;
         }
         &:nth-child(3) {
            width: 100%;
            margin: 0 0 4px auto;
            background-color: #fff;
         }
      }
      &_active {
         span {
            border: none;
            margin-bottom: -2px;
            &:nth-child(1) {
               transform: translateY(3px) rotate(-45deg);
               background-color: #fff;
            }
            &:nth-child(2) {
               display: none;
            }
            &:nth-child(3) {
               width: 100%;
               transform: translateY(-4px) rotate(45deg);
               background-color: #fff;
            }
         }
      }
   }
}


// ! ====

.promo {
   width: 100%;
   height: 100vh;
   padding: 70px 0px 0px 0px;
   position: relative;
   background-color: $mc;

   // !.promo_wrapper  MAIN BACKGROUND

   &_wrapper {
      width: 100%;
      height: 100%;
      background-color: rgba(2, 1, 1, 0.061);
      display: flex;
   }

   // !.promo__left

   &__left {
      flex: 1.4 1 0;
      display: flex;
      flex-direction: column;
      transition: $trans;
      animation: appear 1s ease .3s;
      animation-fill-mode: backwards;
      &--top {
         flex: 1.3 1 0;
         transition: $trans;
         display: flex;
      }
      &--bot {
         flex: 1 1 0;
         transition: $trans;
         display: flex;
      }
      &:hover {
         flex: 1.6 1 0;
      }
      &-container:hover {
         flex: 1.5 1 0;
      }
      &-container:hover .promo__left-container:not(:hover) {
         flex: 1 1 0;
      }
   }
   &__part-left--top {
      transition: $trans;
   }
   &__part-left--top:hover {
      flex: 1.6 1 0;
      & .promo__part-left--top:not(:hover) {
         flex: 1.7 1 0;
      }
   }
   &__part-left--bot {
      transition: $trans2;
   }
   &__part-left--bot:hover {
      flex: 1.3 1 0;
      & .promo__part-left--bot:not(:hover) {
         flex: 1 1 0;
      }
   }

   &__part-left-1 {
      background: #fff;
      flex: 1.5 1 0;
      font-weight: 600;
      font-size: 64px;
      line-height: 110%;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @media (max-width: $bp4) {
         display: none;
      }
   }
   // .promo__part-left-2

   &__part-left-2 {
      background: url(../img/9.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1 1 0;
      animation: appear4 1s ease .6s;
      animation-fill-mode: backwards;
   }

   // .promo__part-left-3

   &__part-left-3 {
      background: #828282;
      flex: 2 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 60px;
      position: relative;
      animation: appear5 .8s ease .6s;
      animation-fill-mode: backwards;
      @media (max-width: $bp4) {
         display: none;
      }
      &:hover .promo__text {
         transform: translate(-50%, -50%) scale(1.2);
         text-shadow: 3px 5px 10px rgba(2, 1, 1, 0.9);
      }
   }

   &__text {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #f2f2f2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      transition: 0.5s all ease;
   }

   // .promo__part-left-4

   &__part-left-4 {
      background: url(../img/2.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1 1 0;
      animation: appear .7s ease .8s;
      animation-fill-mode: backwards;
   }

   // .promo__part-left-5

   &__part-left-5 {
      background: #a6806b;
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: appear5 .7s ease .8s;
      animation-fill-mode: backwards;
   }

   // !.promo__right

   &__right {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      transition: $trans;
      animation: appear3 1s ease .1s;
      animation-fill-mode: backwards;
      @media (max-width: $bp2) {
         display: none;
      }
      &--top {
         flex: 1 1 0;
         transition: $trans;
         display: flex;
      }
      &--bot {
         flex: 1.5 1 0;
         transition: $trans;
         display: flex;
      }
      &:hover {
         flex: 1.5 1 0;
      }
      &-container:hover {
         flex: 1.5 1 0;
      }
      &-container:hover .promo__right-container:not(:hover) {
         flex: 1 1 0;
      }
   }

   &__part-right--top {
      transition: $trans2;
   }
   &__part-right--top:hover {
      flex: 1.6 1 0;
      & .promo__part-right--top:not(:hover) {
         flex: 1.7 1 0;
      }
   }
   &__part-right--bot {
      transition: $trans2;
   }
   &__part-right--bot:hover {
      flex: 1.3 1 0;
      & .promo__part-right--bot:not(:hover) {
         flex: 1 1 0;
      }
   }

   // .promo__part-right-1

   &__part-right-1 {
      flex: 1 1 0;

      background: url(../img/4.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: appear5 1.7s ease .9s;
      animation-fill-mode: backwards;
   }

   // .promo__part-right-2

   &__part-right-2 {
      flex: 1 1 0;

      background: url(../img/8.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: appear 1.7s ease .9s;
      animation-fill-mode: backwards;
   }

   // .promo__part-right-3

   &__part-right-3 {
      flex: 1 1 0;
      background: url(../img/5.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: appear4 .8s ease .1s;
      animation-fill-mode: backwards;
   }

   // .promo__part-right-4

   &__part-right-4 {
      flex: 1 1 0;
      background: $ac;
   }
}

// ! MAIN CONTENT! ============================

.promo {
   // .promo__content

   &__content {
      height: 500px;
      width: 400px;
      background-color: rgba($mc, 0.3);
      position: absolute;
      top: 50%;
      transform: translateY(-40%) translateX(0);
      right: 0;
      z-index: 10;
      transition: all 0.8s cubic-bezier(0.86, 0, 0.49, 0.92);
      animation: appear2 .3s ease 1.3s;
      animation-fill-mode: backwards;
      box-shadow: -5px 10px 10px rgba(2, 1, 1, 0.551);
      backdrop-filter: grayscale(80%) blur(2px) ;
      @media (max-width: $bp2) {
         width: 100%;
         height: auto;
         transform: translateY(-40%) translateX(50%);
         right: 50%;
      }
      &_active {
         width: 800px;
         transform: translateY(-40%) translateX(50%);
         right: 50%;
         @media (max-width: $bp2) {
            width: 100%;
            height: auto;
         }
      }
   }
}

.pr-content {
   padding: 40px 40px 40px 20px;
   @media (max-width: $bp3) {
      padding: 5px;

   }
   

   &__more {
      position: absolute;
      top: 50%;
      transform: translatey(-50%) translateX(0px) rotate(0deg);
      left: -38px;
      color: $mc;
      font-size: 32px;
      color: $mc;
      cursor: pointer;
      opacity: 0;
      animation: fadeRight 3s cubic-bezier(0.86, 0, 0.49, 0.92) infinite;
      &_active {
         animation: fadeleft 3s cubic-bezier(0.86, 0, 0.49, 0.92) infinite;
      }
   }
   &__search {
   }

   &__btn {
      flex: 1 1 20%;
      animation: fadeRight 1s ease 0 infinite;
      max-width: 70px;
      border: none;
      outline: none;
      background: url(../ico/search.png), #fff;
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center;
      border: 2px solid $ac;
      border-left: none;
      transition: all 1s ease;
   }

   // .pr-content__form

   &__form {
      display: flex;
      position: relative;
      z-index: 10;
      margin: 20px 0px 0px 0px;
      animation: appear5 .6s ease 1.2s;
      animation-fill-mode: backwards;
      @media (max-width: $bp3) {
         padding: 15px;
   
      }
  
      &::before {
         content: "";
      }
   }

   // .pr-content__input

   &__input {
      color: #828282;
      flex: 0 0 80%;
      padding: 20px 9px;
      border: 2px solid $ac;
      border-left: 5px solid $ac;
      border-right: none;
      position: relative;
      display: inline-block;
      margin: 0px 0px 0px 15px;
      @media (max-width: $bp3) {
         padding: 20px 5px;
         margin: 0;
         
   
      }

      transition: all 1s ease;
      &:focus {
         border-right: 5px solid $ac;
         margin: 0px 5px 0px 0px;
      }
      &:focus + div + .pr-content__btn {
         background-color: #1ba58b;
         transform: rotate(360deg);
         border-radius: 15px;
         border: 3px solid $ac;
         margin: 0px 0px 0px 5px;
      }
      &:focus + .input-back {
         background-color: #1ba58b;
         left: -20px;
      }
   }
}

.input-back {
   display: block;
   width: 100%;
   height: 120%;
   position: absolute;
   top: -20px;
   left: 17px;
   background-color: $mc;
   z-index: -1;
   transition: all 1s ease;
   @media (max-width: $bp3) {
      padding: 20px 5px;
      margin: 0;
      width: 90%;

   }
}

.pr-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   // .pr-content__items

   &__items {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      overflow: hidden;
      padding: 10px;
      flex-wrap: wrap;
      @media (max-width: $bp3) {
         padding: 0px;

      }
   }

   // .pr-content__item

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      flex: 0 0 125px;
      min-width: 125px;
      height: 90px;
      background-color: rgba($mc, 0.7);
      margin: 10px;
      transition: all .3s ease;
      animation: appear3 .5s ease 1.2s;
      animation-fill-mode: backwards;
      @media (max-width: $bp3) {
         flex: 0 0 80px;
         min-width: 80px;
         height: 60px;
         font-size: 12px;
         margin: 5px;

   
      }
     

      &:hover {
         transform: scale(1.1);
         box-shadow: 1px 1px 25px rgba(147, 147, 147, 0.904);
      }
   }

   // .pr-content__item-ico

   &__item-ico {
      font-size: 22px;
      filter: hue-rotate(30deg);
      color: #f35626;
      background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 30s infinite linear;
   }

   // .pr-content__item-text

   &__item-text {
      text-transform: uppercase;
      font-weight: 300;
   }
}

