.today {
   width: 100%;
   min-height: 500px;
   background-color: #df682d;
   display: flex;
   align-items: flex-end;
   color: $mc;
   padding: 0px 0px 15px 0px;
   @media (max-width: $bp2) {
      flex-direction: column;
      align-items: center;
   }
   &__card-section-wrapper {
      width: 100%;
      height: 100%;
   }
   // .today__text

   &__text {
      flex: 0 0 35%;
      text-align: center;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffc824;
      padding: 10px;
      box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
      @media (max-width: $bp2) {
         width: 100%;
         flex: 0 0 200px;
         max-height: 200px;
      }
   }

   // .today__title

   &__title {
      font-size: 44px;
      margin: 5px;
   }

   // .today__subtitle

   &__subtitle {
      font-size: 18px;
   }

   // .today__card-section

   &__card-section {
      flex: 0 0 65%;
   }

   // .today__card

   &__card {
      width: 300px;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
      margin: 25px 0px 20px 0px;
      cursor: pointer;
      &:hover &-text-bot {
         transform: rotate(360deg);

      }

      &:hover &-text-top {
         transform: scale(1.1);

      }
      @media (max-width: $bp4) {
         box-shadow: none;
         
      }
   }

   
   

   &__card-text-top {
      font-size: 25px;
      color: #fff;
      background-color: rgba($mc, 0.7);
      padding: 5px;
      font-weight: 500;
      position: absolute;
      width: 150px;
      backdrop-filter: blur(2px);
      top: 32px;
      left: -40px;
      z-index: 3;
      transition: transform .8s ease;
      box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.551);
      @media (max-width: $bp4) {
         left: 16px;
         
      }
   }

   &__card-text-bot {
      font-size: 25px;
      color: #fff;
      background-color: rgba($mc, 0.7);
      padding: 10px 0 5px 0;
      font-weight: 500;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.551);
      backdrop-filter: blur(2px);
      bottom: 37px;
      right: 294px;
      z-index: 3;
      transition: transform .8s ease;
      @media (max-width: $bp4) {
         right: 41px;
         
      }
   }
}

.swiper-container {
   width: 576px;
   @media (max-width: $bp4) {
      width: 320px;
   }
}

.swiper-container .swiper-button-prev {
   padding: 200px 50px;
   left: 0;
   top: 0;
   color: $ac;

}

.swiper-container .swiper-button-next {
   padding: 200px 50px;
   right: 0;
   top: 0;
   color: $ac;
}

