.trending {
   width: 100%;
   height: 500px;
   background-color: #df682d;
   position: relative;
   padding: 50px 0px 50px 0px;
   &__header {
      text-align: center;
      background-color: #ffc824;
      padding: 10px;
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      color: $mc;
      font-size: 18px;
      box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);
      & h2 {
         font-size: 30px;
      }
   }
}

.trending__item {
   width: 80%;
   height: 100%;
   margin: 0 auto;
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
   box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);

   @media (max-width: $bp3) {
      width: 100%;
   }
   &--1 {
      background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/1.jpg);
   }
   &--2 {
      background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/2.jpg);
   }
   &--3 {
      background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/3.jpg);
   }
   &--4 {
      background-image: linear-gradient(to right bottom, #262627ad, #13131380), url(../img/trending/4.jpg);
   }
}

.swiper-container-trending {
   height: 100%;
   overflow: hidden;
}



.button-prev,
.button-next {
   color: #fff;
   font-size: 25px;
   position: absolute;
   bottom: 0;
   width: 45px;
   height: 100%;
   z-index: 5;
   display: flex;
   align-items: center;
}

.button-prev {
   left: 5%;
}

.button-next {
   right: 5%;
}
