$mc: #070826;
$ac: #a61c1c;
$tc: #fff;

//==
$content-width: 1100;
$bp1: 1200px;
$bp2: 992px;
$bp3: 768px;
$bp4: 576px;

.container {
// border: 1px red dashed;

   @media (min-width: 540px) {
      width: 100%;
      margin: 0 auto;
      
   }

   @media (min-width: $bp4) {
      width: 540px;
      margin: 0 auto;
   }
   @media (min-width: $bp3) {
      width: 720px;
      margin: 0 auto;
   }
   @media (min-width: $bp2) {
      width: 960px;
      margin: 0 auto;
   }
   @media (min-width: $bp1) {
      width: $content-width+px;
      margin: 0 auto;
   }
}
.test {
   width: 100%;
   height: 500px;
   background-color: $mc;
   box-shadow: 0px 0px 25px rgba(2, 1, 1, 0.68);

}


* {
   outline: none;

}

h1 {
   font-size: 45px;
}

h2 {
   margin: 0;
}

@import "icons";
@import "blocks";
@import "animations";
@import "main";
@import "today";
@import "trending";
@import "howit";

// colors ==============================================================================

body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: $tc;

}
a:visited {
   background-color: transparent;
}
.mobile {
   color: black;
   font-size: 50px;
   width: 100%;
   height: 100%;
   text-align: center;
   display: none;
   vertical-align: middle;
}

// @media (max-width: 900px) {
//    .promo {
//       display: none;
//    }
//    .mobile {
//       display: block;
//    }
// }



