$mc: #070826;
$ac: #a61c1c;
$tc: #fff;

//==
$bp1: 1200px;
$bp2: 992px;
$bp3: 768px;
$bp4: 576px;





a, a:hover {
   text-decoration: none;
   color: inherit;
   
}

* {
   outline: none;

}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  box-sizing: border-box;
}


@import "icons";
@import "blocks";
@import "animations";
@import "main";

// colors ==============================================================================

body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: $tc;

}

.mobile {
   color: black;
   font-size: 50px;
   width: 100%;
   height: 100%;
   text-align: center;
   display: none;
   vertical-align: middle;
}

// @media (max-width: 900px) {
//    .promo {
//       display: none;
//    }
//    .mobile {
//       display: block;
//    }
// }



